.slide-in-animation {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-delay: 0.1s;
  animation-fill-mode: both;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
